*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}

body{
    height: 100vh;
}

main > p{
    padding: 40px;
    max-width: 200px;
}

section > p{
    position: absolute;
    padding: 5px;
    max-width: 200px;

    height: 80vh;

    background-color: rgba(0, 0, 0, 0.264);

    transform: translate(50px, 40px);

    color: white;
    font-weight: bold;
    font-size: 2em;
}

#sec_um{
    position: relative;
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;

    height: 90vh;
}

#sec_dois{
    position: relative;
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;

    height: 90vh;
}