@charset "UTF-8";
body{
    height: 100vh;
    background: black url(imagens/espaco.jpg) center center no-repeat fixed;
    background-size: cover;

    position: relative;
}

#astronauta{
    max-width: 300px;

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}